<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title" style="color: white;">Cancelamento de Mensagem</h3>
    </div>
    <div class="panel-body">
        <br>
        <div class="row">
            <div class="col-md-6">
                Id da Mensagem:
                <input type="text" name="messageId" ng-model="messageId" />
            </div>
            <div class="col-md-4">
                <input type="button"
                       value="Cancelar"
                       class="btn btn-success"
                       ng-click="cancelSms()"/>
            </div>
        </div>
    </div>

</div>